:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: rgba(46, 47, 66, 0.4);
  --grey: rgba(46, 47, 66, 0.7);
  --white: #fff;
  --dairy: #fcfcfc;
  --font-family: 'Roboto', sans-serif;
  --second-family: 'Raleway', sans-serif;
}

body {
  font-family: var(--font-family);
  background-color: var(--white);
  color: var(--slate);
}

ul,
ol {
  list-style: none;
  margin-block-start: 0;
  margin-block-end: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-block-start: 0;
  margin-block-end: 0;
}

p {
  margin-block-start: 0;
  margin-block-end: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.page-header {
  margin: 0 auto;
}

.logo {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
  max-height: max-content;
  margin-right: 76px;
}

.header-logo .logo-part {
  color: var(--navy-blue);
}

.header-nav .nav-list {
  justify-content: flex-start;
  max-height: max-content;
}

.nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}

.nav-link:hover,
.nav-link:focus {
  color: var(--ocean);
}

.contacts {
  font-style: normal;
  margin-left: auto;
}

.contacts .contacts-list {
  justify-content: flex-end;
}

.contacts-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
  white-space: nowrap;
}

.contacts-link:hover,
.contacts-link:focus {
  color: var(--ocean);
}

.main-content {
  margin: 0 auto;
}

.hero {
  background: var(--navy-blue);
  margin: auto;
  justify-items: center;
}

.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  margin-block-end: 48px;
  text-align: center;
  color: var(--white);
}

.hero-button {
  border: none;
  background-color: var(--iris);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);
  white-space: nowrap;
  cursor: pointer;
}

.hero button:hover,
.hero button:focus {
  background-color: var(--ocean);
}

.benefits-list {
  justify-content: center;
}

.benefits-item .benefits-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  margin-block-end: 8px;
}

.benefits-item .benefits-descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}

.our-team {
  align-content: center;
  background-color: var(--cloud);
}

.our-team .our-team-title,
.our-portfolio .our-portfolio-title {
  font-weight: 700;
  font-size: 36px;
  text-transform: capitalize;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--navy-blue);
  margin-bottom: 72px;
}

.our-team .our-team-list {
  justify-content: center;
}

.our-team-item {
  background-color: var(--white);
}

.our-team-item .our-team-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--navy-blue);
  margin-top: 32px;
}

.our-team-item .our-team-descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--slate);
  margin-top: 8px;
}

.our-portfolio {
  align-content: center;
}

.our-portfolio-list {
  justify-content: center;
  margin-bottom: 48px;
}

.our-portfolio-list:last-child {
  margin-bottom: 0;
}

.our-portfolio-item .our-portfolio-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  margin-bottom: 8px;
}

.our-portfolio-item .our-portfolio-descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}

.page-footer {
  background-color: var(--navy-blue);
  margin: 0 auto;
  align-content: center;
}

.footer-logo {
  margin-bottom: 16px;
}

.footer-logo .logo-part {
  color: var(--cloud);
}

.page-footer .footer-descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--cloud);
}
