:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: rgba(46, 47, 66, 0.4);
  --grey: rgba(46, 47, 66, 0.7);
  --white: #fff;
  --dairy: #fcfcfc;
  --font-family: 'Roboto', sans-serif;
  --second-family: 'Raleway', sans-serif;
}

body {
  font-family: var(--font-family);
  background-color: var(--white);
  color: var(--slate);
}

img {
  display: block;
}

ul,
ol {
  list-style: none;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-block-start: 0;
  margin-block-end: 0;
}

p {
  margin-block-start: 0;
  margin-block-end: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 1158px;
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
}

.page-header {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
}

.logo {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
  display: flex;
  align-items: center;
  flex-direction: row;
  max-height: max-content;
  margin-right: 76px;
}

.header-logo .logo-part {
  color: var(--navy-blue);
}

.header-nav .nav-list {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-height: max-content;
  gap: 40px;
}

.nav-item {
  padding-top: 24px;
  padding-bottom: 24px;
}

.nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}

.nav-link:hover,
.nav-link:focus {
  color: var(--ocean);
}

.contacts {
  font-style: normal;
  margin-left: auto;
}

.contacts .contacts-list {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  flex-direction: row;
  gap: 40px;
}

.contacts-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
  white-space: nowrap;
}

.contacts-link:hover,
.contacts-link:focus {
  color: var(--ocean);
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 188px 0;
  background: var(--navy-blue);
  width: 100%;
}

.hero-title {
  width: 512px;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  margin-block-end: 48px;
  text-align: center;
  color: var(--white);
}

.hero-button {
  border-radius: 4px;
  padding-block: 16px;
  padding-inline: 32px;
  border: none;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: var(--iris);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);
  white-space: nowrap;
  cursor: pointer;
}

.hero button:hover,
.hero button:focus {
  background-color: var(--ocean);
}

.benefits {
  display: flex;
  align-items: center;
  padding: 120px 0;
  width: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.benefits-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.benefits-item .benefits-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  margin-block-end: 8px;
}

.benefits-item .benefits-descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}

.our-team {
  display: grid;
  align-items: center;
  align-content: center;
  padding: 120px 0;
  background-color: var(--cloud);
  width: 100%;
}

.our-team .our-team-title,
.our-portfolio .our-portfolio-title {
  font-weight: 700;
  font-size: 36px;
  text-transform: capitalize;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--navy-blue);
  margin-bottom: 72px;
}

.our-team .our-team-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.our-team-item {
  border-radius: 0 0 4px 4px;
  padding-block: 0px 32px;
  padding-inline: 0px;
  width: 264px;
  height: 380px;
  box-shadow:
    0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background-color: var(--white);
}

.our-team-item .our-team-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--navy-blue);
  margin-top: 32px;
}

.our-team-item .our-team-descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--slate);
  margin-top: 8px;
}

.our-portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  padding: 120px 0;
}

.our-portfolio-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  margin-bottom: 48px;
  flex-wrap: wrap;
}

.our-portfolio-list:last-child {
  margin-bottom: 0;
}

.our-portfolio-item .our-portfolio-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  margin-bottom: 8px;
  border-bottom: 1px solid var(--cornflower);
  border-left: 1px solid var(--cornflower);
  border-right: 1px solid var(--cornflower);
  padding-block: 32px;
  padding-inline: 16px;
}

.our-portfolio-item .our-portfolio-descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}

.page-footer {
  width: 100%;
  padding-top: 101.5px;
  padding-bottom: 100px;
  background-color: var(--navy-blue);
  margin: 0 auto;
  align-content: center;
}

.footer-logo {
  margin-bottom: 16px;
}

.footer-logo .logo-part {
  color: var(--cloud);
}

.page-footer .footer-descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--cloud);
  max-width: 272px;
}
